* {
    box-sizing: border-box;
}
.wrapper {
    background: #eee;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    overflow: visible;
}
.search-wield {
    padding: 10px;
    margin: 0 0 10px;
    width: 100%;
}
.button {
    width: 40%;
    padding: 10px;
    margin: 10px;
}